*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    width: 897px;
    height: 960px;
    margin: 0 auto;
    background-color:#081927;

}

/* Main Body Header */
#james-header{
    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.header-functions{
    display: inline-block;

}

.header-b-tag{
    width: 525px;
    text-align: center;
    font-size: 13px;
    padding-left: 100px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    
}

.header-button{
    background-color: transparent;
    border: 1px solid transparent;

}

/* Main Body Header End */










/* Main Body */
#main-body-div{
    width: 880px;
    height: 834px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 7px;

}

#main-body-image{
    width: 100%;
    height: 390px;
    padding: 20px;

}

#main-body-center{
    width: 100%;
    height: 180px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;

}

.main-body-content{
    height: 100%;
    width: 266px;
    padding: 15px;
    display: inline-block;
    background-color: #135397;
    
    
}

.middle-body-title{
    color: #ffffff;
    font-size: 25px;
    

}

.middle-body-paragraph{
    font-size: 12px;
    color: #ffffff;

}

.middle-body-button{
    background-color: #4aa4e9;
    border: 1px solid transparent;
    margin-top: 20px;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: 13px;

}


#main-body-lower{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    

}

.lower-body-main-box{
    width: 266px;
    height: 100%;
    display: inline-block;

}

.lower-body-main-box-center{
    width: 266px;
    height: 100%;
    display: inline-block;
    padding-top: 35px;

}

.lower-body-heading{
    height: auto;
    margin-bottom: 10px;
    width: 266px;
    color: #283541;
    font-size: 29px;

}

.lower-body-p-tag{
    height: 50px;
    width: 100%;
    font-size: 11px;
    color: #3d4e5b;
    

}

#lower-body-content{
    font-size: 12px;
    color: #3d4e5b;

}



#lower-body-button{
    color: #7798b4;
    border: 1px solid transparent;
    font-size: 15px;
    
}

#lower-quote-sam{
    font-size: 12px;
    color: #3d4e5b;
    margin-top: 60px;

}

#lower-content-div{
    padding: 20px;

}


/* Main Body End */

















/* Footer */






/* Footer End */
#footer-main-div{
    width: 880px;
    height: 43px;
    margin-left: 10px;
    margin-right: 7px;
    margin-top: 1px;
    background-color: #d2e8ff;

}

#footer-align{
    text-align: center;
    padding-top: 13px;
    padding-left: 275px;
    padding-right: 275px;
    display: flex;
    justify-content: space-between;
}

.footer-button-tag{
    background-color: transparent;
    border: 1px solid transparent;
    color: #2d5e89;
    

}